# Always tell why tests fail
test --test_output=errors

# When working with hermetic Python toolchains, supporting the legacy runfiles layout is needlessly wasting resources.
# See https://github.com/bazelbuild/rules_python/issues/1653
common --nolegacy_external_runfiles

# Allow users to provide their own workspace settings
try-import %workspace%/user.bazelrc
