---
IndentWidth: 4
ColumnLimit: 120
ReflowComments: false
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: Inline
AllowShortBlocksOnASingleLine: Empty
BinPackParameters: OnePerLine
BreakBeforeBraces: Custom
BreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: true
BraceWrapping:
    BeforeElse: true
