*~

# Bazel
bazel-*
*MODULE.bazel.lock
user.bazelrc

# Python
__pycache__
*.pyc
venv/
.coverage

# IDEs
.clwb
.idea
.vscode

# Test data
dwyu/aspect/private/analyze_includes/test/benchmark/parsing_examples
test/benchmark/generated

# Code coverage artifacts
coverage_data
