# Configuration for 'git archive'
# See https://git-scm.com/docs/git-archive#ATTRIBUTES
# We are not using 'export-ignore' because our repository is either way small and excluding content can easily break workflows without one immediately realizing.
# Also, not using 'export-ignore' gives users of Bazel git_override() the same view on this project like using a normal release does.
