*~

# Bazel
bazel-*
*MODULE.bazel.lock
user.bazelrc

# Python
__pycache__
*.pyc
venv/
.coverage

# IDEs
.clwb
.idea
.vscode

# Test data
src/aspect/private/analyze_includes/test/benchmark/parsing_examples
