minimum_pre_commit_version: 4.0.0

define: &generated_doc_files "^docs/(cc_info_mapping|cc_toolchain_headers|dwyu_aspect).md"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      # Repository hygiene
      - id: check-added-large-files
      # Sane files
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-toml
      - id: check-json
      - id: check-yaml
      - id: check-symlinks
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: [--fix=lf]
      # Code style
      - id: end-of-file-fixer
        exclude: *generated_doc_files
      - id: trailing-whitespace

  - repo: https://github.com/executablebooks/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        exclude: *generated_doc_files
        additional_dependencies:
          - mdformat-gfm

  # Documentation for checks: https://github.com/bazelbuild/buildtools/blob/main/WARNINGS.md
  # We use all checks, even non default ones with those exceptions:
  # - function-docstring: Not all functions require a docstring. If a docstring exists other checks ensure its sanity.
  # - function-docstring-header: A dedicated docstring header often provides no added value.
  # - module-docstring: Too noisy, not all modules require a docstring
  - repo: https://github.com/keith/pre-commit-buildifier
    rev: 8.2.1
    hooks:
      - id: buildifier
      - id: buildifier-lint
        args: [--diff_command='diff']

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff-format
      - id: ruff-check
        args: [--fix]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        name: mypy
        # We overwrite the args as we configure mypy via our mypy.ini
        args: []

  # https://github.com/astral-sh/ty
  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: uvx --python=3.12 ty==0.0.1-alpha.32 check
        types: [python]
        language: system
        # To prevent API changes in one file breaking type annotations in another we run on the full repository
        pass_filenames: false

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.6
    hooks:
    -   id: clang-format
        types_or: [c++, c]
