name: CI

on: [ pull_request ]

jobs:
  pre-commit:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
      - uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
          installer-parallel: true
      - uses: actions/setup-python@v4
        with:
          python-version: 3.8
          cache: 'poetry'
      - name: Install dependencies
        run: poetry install --no-interaction --no-root
      - run: source .venv/bin/activate
      - uses: pre-commit/action@v3.0.0

  fast-tests:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
      - name: Unit tests
        run: bazel test //src/... //test/aspect:all
      - name: Execute Mypy
        run: bazel build --config=mypy //src/... //test/aspect:all

  integration-tests-aspect:
    runs-on: ubuntu-20.04
    needs: [ pre-commit, fast-tests ]
    steps:
      - uses: actions/checkout@v4
      - name: Integration tests - Aspect
        run: ./test/aspect/execute_tests.py

  integration-tests-apply-fixes:
    runs-on: ubuntu-20.04
    needs: [ pre-commit, fast-tests ]
    steps:
      - run: |
          mkdir --parents /tmp/bin
          wget --no-verbose https://github.com/bazelbuild/buildtools/releases/download/v6.1.2/buildozer-linux-amd64 -O /tmp/bin/buildozer
          chmod +x /tmp/bin/buildozer
      - uses: actions/checkout@v4
      - name: Integration tests - Applying fixes
        run: |
          export PATH=/tmp/bin:$PATH
          ./test/apply_fixes/execute_tests.py

  # tests:
  #   runs-on: ubuntu-20.04
  #   steps:
  #   - uses: actions/checkout@v4
  #   - uses: snok/install-poetry@v1
  #     with:
  #       virtualenvs-create: true
  #       virtualenvs-in-project: true
  #       installer-parallel: true
  #   - uses: actions/setup-python@v4
  #     with:
  #       python-version: 3.8
  #       cache: 'poetry'
  #   - name: Install dependencies
  #     run: poetry install --no-interaction --no-root
  #   - name: Display Python version
  #     run: python -c "import sys; print(sys.version)"
  #   - name: Coverage
  #     run: poetry run pytest --cov --pylint
