name: CI

on: [ pull_request ]

jobs:
  benchmark:
    strategy:
      matrix:
        os: [ ubuntu-24.04, macos-15, windows-2022 ]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - name: Benchmark - Many Targets
        run: python test/benchmark/bench_many_targets.py
      - name: Benchmark - Many Files
        run: python test/benchmark/bench_target_with_many_files.py
      - name: Benchmark - Complex Code
        run: python test/benchmark/bench_target_with_complex_code.py
