name: CI

on: [ pull_request ]

jobs:
  tests-aspect-windows:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v6
      - name: Integration tests - Aspect - C++
        run: python test/aspect/execute_tests.py --no_output_base -cpp -b 8.4.2 -p 3.12 -v -t relative_includes/relative_includes
      - name: Integration tests - Aspect - Legacy
        run: python test/aspect/execute_tests.py --no_output_base -b 8.4.2 -p 3.12 -v -t relative_includes/relative_includes
